# Python
__pycache__/
*.pyc
venv/
env/

# Node
node_modules/

# IDEs
.vscode/
.idea/
.DS_Store

# Data & Logs
*.db
*.log
.env
.env.*
!.env.example

# Downloads
*.zip
data/

# Framework
build/
.svelte-kit/
package/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*